[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Buildroot utils packaged from Buildroot utils/ directory
[access "refs/*"]
	owner = group user/Vitaliy Lotorev (vlotorev)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Vitaliy Lotorev (vlotorev)
	label-Verified = -1..+1 group user/Vitaliy Lotorev (vlotorev)
	push = group user/Vitaliy Lotorev (vlotorev)
	read = group user/Vitaliy Lotorev (vlotorev)
	rebase = group user/Vitaliy Lotorev (vlotorev)
	removeReviewer = group user/Vitaliy Lotorev (vlotorev)
	submit = group user/Vitaliy Lotorev (vlotorev)
[access "refs/heads/*"]
	create = group user/Vitaliy Lotorev (vlotorev)
	push = +force group user/Vitaliy Lotorev (vlotorev)
	pushMerge = group user/Vitaliy Lotorev (vlotorev)
	read = group user/Vitaliy Lotorev (vlotorev)
[access "refs/tags/*"]
	push = group user/Vitaliy Lotorev (vlotorev)
	push = +force group user/Vitaliy Lotorev (vlotorev)
